.link {
  color: #295fcb;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}
.link:hover {
  text-decoration: underline;
}
textarea {
  line-height: 1.4;
}
input,
textarea {
  height: 30px;
  padding: 0 7px;
  border-radius: 4px;
  color: rgba(51, 51, 51, 0.95);
  border: 1px solid #d9d9d9;
}
input[type="checkbox"]:focus,
textarea[type="checkbox"]:focus,
input[type="radio"]:focus,
textarea[type="radio"]:focus,
input[type="range"]:focus,
textarea[type="range"]:focus {
  box-shadow: none;
}
input[type="file"],
textarea[type="file"] {
  padding: 0;
  border: 0;
  line-height: 1;
}
input[type="file"]:focus,
textarea[type="file"]:focus {
  border: 0;
  box-shadow: none;
}
input.roomy,
textarea.roomy,
#share-popup .popup-inner input {
  padding: 7px 9px;
}
input:focus,
textarea:focus,
select:focus {
  outline: 0;
  border: 1px solid rgba(41, 95, 203, 0.8);
  box-shadow: 0 0 0 2px rgba(41, 95, 203, 0.2);
}
input.error,
textarea.error,
select.error {
  border: 1px solid rgba(209, 48, 39, 0.75);
}
input.error:focus,
textarea.error:focus,
select.error:focus {
  box-shadow: 0 0 0 2px rgba(204, 47, 38, 0.15);
}
input.nofocus:focus,
textarea.nofocus:focus,
select.nofocus:focus {
  outline: 0;
  box-shadow: none;
  border: initial;
}
input.inline {
  height: auto;
  border: 1px solid transparent;
  border-radius: 0;
  background: transparent;
  cursor: text;
  padding: 3px 5px;
  line-height: 1;
}
input.inline:focus,
input.inline:hover {
  border: 1px solid #ccc;
  box-shadow: none;
}
input.inline:focus {
  background: #fff;
}
input.underline {
  width: 100%;
  height: auto;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  cursor: text;
  line-height: 1;
}
.input-file-picker {
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  color: #707070;
}
.input-file-picker span {
  flex: 1;
  padding-left: 3px;
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: .8rem;
}
label {
  font-weight: 500;
}
.toggle {
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
}
.toggle * {
  cursor: pointer;
}
.toggle input {
  display: none;
}
.toggle .text {
  font-weight: 400;
}
.toggle .switch {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 17px;
}
.toggle .switch:before,
.toggle .switch:after {
  position: absolute;
  display: block;
  content: '';
}
.toggle .switch:before {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: #dadada;
}
.toggle .switch:after {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background: #fafafa;
  transition: transform .15s ease;
}
.toggle input:checked + .switch:before {
  background: #41b855;
}
.toggle input:checked + .switch:after {
  transform: translateX(15px);
}
.message {
  justify-content: flex-start;
  align-items: center;
  font-size: 13.5px;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 2px;
}
.message strong {
  font-weight: 600;
}
.message > i {
  font-size: 16px;
  margin-right: 10px;
}
.message .btn {
  background: transparent;
  margin-left: auto;
}
.message ul {
  list-style: disc;
  margin-left: 20px;
}
.message.success {
  background: #ebfbee;
  color: #4bac5c;
  border-color: #94d09f;
}
.message.success i {
  color: #4bac5c;
}
.message.success .btn {
  border-color: #94d09f;
  color: #4bac5c;
}
.message.success .btn:focus,
.message.success .btn:active {
  border-color: #4bac5c;
}
.message.success .btn:hover {
  background: #ebfbee;
}
.message.primary {
  background: #eef3fc;
  color: #3c6dce;
  border-color: rgba(40, 100, 220, 0.6);
}
.message.primary i {
  color: #3c6dce;
}
.message.primary .btn {
  border-color: rgba(40, 100, 220, 0.6);
  color: #3c6dce;
}
.message.primary .btn:focus,
.message.primary .btn:active {
  border-color: #3c6dce;
}
.message.primary .btn:hover {
  background: #eef3fc;
}
.message.info {
  background: #fff7eb;
  color: #ce8e33;
  border-color: #f5cd94;
}
.message.info i {
  color: #ce8e33;
}
.message.info .btn {
  border-color: #ce8e33;
  color: #ce8e33;
}
.message.info .btn:focus,
.message.info .btn:active {
  border-color: #ce8e33;
}
.message.info .btn:hover {
  background: #fff7eb;
}
.message.error {
  background: #ffefee;
  color: #cc655f;
}
.message.error i {
  color: #cc655f;
}
.message.error .btn {
  border-color: #cc655f;
  color: #cc655f;
}
.message.error .btn:focus,
.message.error .btn:active {
  border-color: #cc655f;
}
.message.error .btn:hover {
  background: #f7e8e7;
}
.message a:not(.btn) {
  text-decoration: underline;
}
.popup-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
  background: rgba(0, 0, 0, 0.45);
  font-style: normal;
  overflow-y: auto;
}
.popup-inner {
  background: #fff;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 4px;
  width: 450px;
  margin: 80px auto 0;
  overflow: hidden;
}
.popup-inner .error {
  color: #d80b00 !important;
  margin: 10px 0 !important;
  font-style: italic;
}
.popup-inner .head {
  position: relative;
  background: #fafafa;
  padding: 7px 12px;
  width: 100%;
  border-bottom: 1px solid #eee;
  border-radius: 4px 4px 0 0;
}
.popup-inner .head .title {
  font-size: .95rem;
  font-weight: 500;
}
.popup-inner .head .close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
}
.popup-inner .body {
  padding: 12px;
}
.popup-inner .body > div:not(:first-child) {
  margin-top: 20px;
}
.popup-inner p:first-child {
  margin-top: 0;
}
.popup-inner p:last-child {
  margin-bottom: 0;
}
.popup-inner textarea,
.popup-inner label,
.popup-inner input {
  display: block;
  width: 100%;
}
.popup-inner label.toggle {
  display: flex;
  justify-content: flex-end;
}
.popup-inner label.toggle .text {
  margin-right: 10px;
}
.popup-inner label.toggle input {
  display: none;
}
.popup-inner label {
  margin-bottom: 3px;
  color: rgba(51, 51, 51, 0.9);
}
.popup-inner textarea,
.popup-inner input {
  margin-bottom: 10px;
}
.popup-inner textarea {
  height: 50px;
  padding-top: 3px;
}
.popup-inner .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.popup-inner .actions .link {
  margin-right: auto;
}
.popup-inner .actions .btn,
.popup-inner .actions .success,
.popup-inner .actions .primary {
  margin-left: 5px;
}
.popup-inner .actions .spinner {
  width: 10px;
  height: 10px;
  border-width: 1.2px;
}
#share-popup .popup-inner div {
  margin: 10px 0;
  line-height: 1;
}
#share-popup .popup-inner input {
  color: #333;
  width: 100%;
  margin-top: 10px;
  font-size: .85rem;
}
#share-popup .popup-inner input:focus {
  outline: none;
}
#share-popup .popup-inner .btn {
  float: right;
}
#share-popup .popup-inner .info {
  margin: 10px 0;
  color: #707070;
  font-size: .8rem;
}
#share-popup .popup-inner .info i {
  margin-right: 3px;
}
#crop-popup .popup-inner {
  width: 298px;
}
#crop-popup .popup-inner .controls {
  width: 256px;
  margin: 1rem 0 0;
}
#crop-popup .popup-inner canvas {
  display: block;
  border: 1px solid gray;
  border-radius: 50%;
}
#crop-popup .popup-inner input[type="range"] {
  width: 256px;
}
#crop-popup .popup-inner .btns {
  text-align: right;
}
#create-workspace-popup .btn.url {
  position: relative;
  overflow: visible;
}
#create-workspace-popup .btn.url:after {
  position: absolute;
  left: calc(100% + 10px);
  top: 0;
  content: attr(data-url);
  font-size: 13px;
  color: inherit;
}
#create-workspace-popup label:not(:first-child) {
  margin-top: 25px;
}
#create-workspace-popup p {
  font-style: italic;
  color: #707070;
  margin-top: 5px;
}
#create-workspace-popup .separator {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 15px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  color: #707070;
  margin: 20px 0;
}
#create-workspace-popup .separator:before,
#create-workspace-popup .separator:after {
  content: '';
  height: 1px;
  background: #ddd;
}
#add-pinned-bookmark-popup .popup-inner {
  overflow: visible;
}
#add-pinned-bookmark-popup .autocomplete-results {
  top: 33px;
}
#library-workspace-popup .popup-inner {
  overflow: initial;
}
#library-workspace-popup .path-container {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 28px;
  border: 1px solid #ddd;
  border-radius: 4px 2px 2px 4px;
}
#library-workspace-popup .path-container .btn {
  border: 0;
  border-left: 1px solid #ddd;
  height: 26px;
}
#library-workspace-popup .path-container .path {
  flex: 1;
  height: 100%;
  line-height: 28px;
  padding: 0 7px;
  margin: 0;
  border: 0;
}
#library-copydat-popup strong {
  font-weight: 600;
}
#library-copydat-popup .downloader .download-desc {
  font-size: 12px;
  margin-top: 3px;
  color: #707070;
  text-align: center;
}
.vertical-scroll {
  overflow-y: scroll;
}
.shadow {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
}
.dropdown-shadow,
.dropdown-items {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}
.dropdown-shadow-subtle,
.dropdown-items.subtle-shadow {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}
.overflow-ellipsis,
.files-browser .breadcrumbs .breadcrumb:last-of-type,
.archive-history .archive-history-item .path,
.files-browser .files-tree-view .item .name,
.builtin-wrapper.library-wrapper .ll-row.recent .title,
.builtin-wrapper.library-view .revision-header .path,
.builtin-wrapper.library-view .file-preview-header .path,
.builtin-wrapper.library-view footer .dropdown-items.workspace-info .dropdown-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropdown {
  position: relative;
}
.dropdown i {
  cursor: pointer;
}
.dropdown.open .toggleable:not(.primary) {
  background: #dadada;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
}
.toggleable-container .dropdown-items {
  display: none;
}
.toggleable-container.open .dropdown-items {
  display: block;
}
.dropdown-items {
  width: 270px;
  position: absolute;
  right: 0px;
  z-index: 3000;
  background: #fafafa;
  border: 1px solid #dadada;
  border-radius: 4px;
}
.dropdown-items .section {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}
.dropdown-items .section-header {
  padding: 2px 10px;
}
.dropdown-items.compact .dropdown-item {
  padding: 2px 15px;
  border-bottom: 0;
}
.dropdown-items.compact .description {
  margin-left: 0;
}
.dropdown-items.left {
  right: initial;
  left: 0;
}
.dropdown-items.top {
  bottom: calc(100% + 5px);
}
.dropdown-items.with-triangle:before {
  content: '';
  position: absolute;
  top: -8px;
  right: 10px;
  width: 12px;
  height: 12px;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}
.dropdown-items.with-triangle.left:before {
  left: 10px;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 5px 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.dropdown-item .fa-check-square {
  color: #2864dc;
}
.dropdown-item .fa-check-square,
.dropdown-item .fa-square-o {
  font-size: 14px;
}
.dropdown-item .fa-check {
  font-size: 11.5px;
}
.dropdown-item * {
  cursor: pointer;
}
.dropdown-item:hover {
  background: #eee;
}
.dropdown-item:hover i:not(.fa-check-square) {
  color: #333;
}
.dropdown-item:hover .description {
  color: #333;
}
.dropdown-item i {
  display: inline-block;
  width: 20px;
  color: rgba(0, 0, 0, 0.65);
}
.dropdown-item .label {
  margin-bottom: 3px;
}
.dropdown-item .description {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  margin-left: 17px;
}
.dropdown-item:first-of-type {
  border-radius: 2px 2px 0 0;
}
.dropdown-item:last-of-type {
  border-radius: 0 0 2px 2px;
}
progress {
  display: none;
}
@keyframes progress-active {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.progress-ui {
  position: relative;
  width: 100%;
  height: 20px;
  border-radius: 2px;
  background: #e0e0e0;
}
.progress-ui .completed {
  position: absolute;
  min-width: 30px;
  height: 100%;
  padding: 0 5px;
  background: #bbb;
  color: rgba(255, 255, 255, 0.9);
  font-size: .75rem;
  font-weight: 500;
  text-align: right;
  line-height: 20px;
  border-radius: 2px;
}
.progress-ui .label {
  position: absolute;
  width: 100%;
  top: calc(100% + 5px);
  text-align: center;
  font-size: .8rem;
}
.progress-ui.active .completed:before {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  z-index: 3;
  height: 100%;
  animation: 3s ease progress-active infinite;
  animation-delay: 1s;
  border-radius: 4px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 5%, rgba(255, 255, 255, 0.1));
}
.progress-ui.small {
  height: 10px;
}
.progress-ui.blue .completed {
  background: #2864dc;
}
.progress-ui.green .completed {
  background: #44c35a;
}
.context-input {
  position: absolute;
}
.context-input .dropdown-items {
  width: 300px !important;
  padding: 10px;
}
.context-input .dropdown-items form {
  display: flex;
}
.context-input .dropdown-items input {
  flex: 1;
  height: 28px;
}
.context-input .dropdown-items button {
  margin-left: 5px;
}
.context-input .dropdown-items.with-triangle.left:before {
  border-bottom-color: rgba(0, 0, 0, 0.25);
  left: 20px;
}
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 5px;
  margin-left: 5px;
  background: #eaeaea;
  color: #707070;
  border-radius: 2px;
  height: 16px;
  line-height: 16px;
  font-size: 11.5px;
}
.badge:hover {
  text-decoration: none;
}
.badge.read-only {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .2px;
}
.badge.green {
  background: #41b855;
  color: #fff;
}
.badge.blue {
  background: #2864dc;
  color: #fff;
}
.badge.warning {
  background: #d13027;
  color: #fff;
}
*[data-tooltip] {
  position: relative;
}
*[data-tooltip]:hover:before,
*[data-tooltip]:hover:after {
  display: block;
  z-index: 3;
  transition: opacity .01s ease;
  transition-delay: .2s;
}
*[data-tooltip]:hover:after {
  opacity: 1;
}
*[data-tooltip]:hover:before {
  transform: translate(-50%, 0);
  opacity: 1;
}
*[data-tooltip]:before {
  opacity: 0;
  transform: translate(-50%, 0);
  position: absolute;
  top: 33px;
  left: 50%;
  z-index: 3000;
  content: attr(data-tooltip);
  background: rgba(17, 17, 17, 0.95);
  font-size: .7rem;
  border: 0;
  border-radius: 4px;
  padding: 7px 10px;
  color: rgba(255, 255, 255, 0.925);
  text-transform: none;
  text-align: center;
  font-weight: 300;
  white-space: pre;
  line-height: 1;
  pointer-events: none;
}
*[data-tooltip]:after {
  opacity: 0;
  position: absolute;
  left: calc(50% - 6px);
  top: 28px;
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(17, 17, 17, 0.95);
  pointer-events: none;
}
.flex,
.toggle,
.message,
#library-workspace-popup .path-container,
.files-browser .breadcrumbs,
.archive-history .archive-history-item,
.files-browser,
.files-browser .files-browser-header,
.files-browser .revisions-overview,
.files-browser .files-tree-view .item,
.favicon-picker .favicon-picker-header,
.favicon-picker .favicon-picker-footer,
.drag-hint .icons,
.builtin-wrapper.library-wrapper .ll-row.recent,
.builtin-wrapper.library-view .builtin-header .container,
.builtin-wrapper.library-view .setup-info .checklist-item,
.builtin-wrapper.library-view .revision-header,
.builtin-wrapper.library-view .file-preview-header,
.builtin-wrapper.library-view .file-preview-container .file-preview-header,
.builtin-wrapper.library-view .view.revisions .revisions-header,
.builtin-wrapper.library-view .view.network .download-status,
.builtin-wrapper.library-view footer .container,
.builtin-wrapper.library-view .file-preview-container.readme,
#library-workspace-popup .download-status {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.files-browser .breadcrumbs {
  align-items: center;
  height: 28px;
}
.files-browser .breadcrumbs .breadcrumb {
  color: #2864dc;
  cursor: pointer;
}
.files-browser .breadcrumbs .breadcrumb:last-of-type {
  max-width: 200px;
  color: #333;
  font-weight: 500;
}
.files-browser .breadcrumbs .breadcrumb:last-of-type:hover {
  cursor: default;
  text-decoration: none;
}
.files-browser .breadcrumbs .breadcrumb:hover {
  text-decoration: underline;
}
.files-browser .breadcrumbs .breadcrumb * {
  display: inline-block;
}
.files-browser .breadcrumbs .breadcrumb.root {
  font-weight: 900;
  padding-left: 7px;
}
.files-browser .breadcrumbs .breadcrumb.root i {
  cursor: pointer;
  font-weight: normal;
}
.files-browser .breadcrumbs .breadcrumb.root:after,
.files-browser .breadcrumbs .breadcrumb:not(:last-of-type):after {
  display: inline-block;
  content: '/';
  color: #333;
  margin: 0 7px 0 5px;
  font-weight: 300;
}
.archive-history-dropdown .dropdown-items {
  width: 275px !important;
}
.archive-history {
  font-size: 12.5px;
}
.archive-history .archive-history-header {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
}
.archive-history .archive-history-body {
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}
.archive-history .archive-history-body.error {
  padding: 10px;
}
.archive-history.loading .archive-history-body {
  padding: 10px;
}
.archive-history .archive-history-item {
  align-items: center;
  height: 35px;
  padding: 0 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.archive-history .archive-history-item .version {
  min-width: 32px;
  margin-left: auto;
  text-transform: lowercase;
}
.archive-history .archive-history-item .path {
  max-width: 145px;
  margin-left: 3px;
}
.archive-history .archive-history-item:hover {
  background: #f0f0f0;
}
.files-browser {
  flex-wrap: nowrap;
}
.files-browser .body {
  border: 1px solid #ddd;
  border-radius: 2px;
}
.files-browser .body.file {
  border: 0;
}
.files-browser .files-browser-header {
  align-items: center;
}
.files-browser .files-browser-header .version-badge {
  min-width: 32px;
  margin-left: 7px;
  text-transform: lowercase;
}
.files-browser .files-browser-header .jump-to-latest {
  margin-left: 7px;
}
.files-browser .files-browser-header .actions {
  margin-left: auto;
  margin-bottom: 10px;
  display: flex;
}
.files-browser .files-browser-header .actions > * {
  margin-left: 5px;
}
.files-browser .files-browser-header .actions .dropdown-items {
  width: 160px;
}
.files-browser .revisions-overview {
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: #fafafa;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ddd;
  border-bottom: 0;
}
.files-browser .revisions-overview .label {
  margin-left: 5px;
}
.files-browser .revisions-overview .label:hover {
  text-decoration: underline;
  cursor: pointer;
}
.files-browser .revisions-overview .label.empty {
  color: #707070;
}
.files-browser .revisions-overview .label.empty:hover {
  text-decoration: none;
  cursor: default;
}
.files-browser .revisions-overview .revision-type {
  margin-right: 2px;
}
.files-browser .revisions-overview .buttons {
  margin-left: auto;
}
.files-browser .revisions-overview .btn.plain {
  color: #333;
  margin-left: 7px;
}
.files-browser .revisions-overview .btn.plain:hover {
  color: #2864dc;
}
.files-browser .files-tree-view {
  width: 100%;
}
.files-browser .files-tree-view * {
  -webkit-user-select: none;
}
.files-browser .files-tree-view .item {
  flex-wrap: nowrap;
  align-items: center;
  height: 34px;
  border-bottom: 1px solid #eee;
  padding: 0 7px;
  cursor: pointer;
}
.files-browser .files-tree-view .item.ascend {
  font-size: .85rem;
  padding: 0 10px;
  margin-bottom: 0;
  color: #2864dc;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 30px;
}
.files-browser .files-tree-view .item.ascend:hover {
  background: #fafafa;
}
.files-browser .files-tree-view .item:last-child {
  border-bottom: 0;
}
.files-browser .files-tree-view .item * {
  cursor: pointer;
}
.files-browser .files-tree-view .item:hover {
  background: #fafafa;
}
.files-browser .files-tree-view .item.empty {
  cursor: default;
  color: #707070;
}
.files-browser .files-tree-view .item.empty * {
  cursor: default;
}
.files-browser .files-tree-view .item.empty:hover {
  background: #fff;
}
.files-browser .files-tree-view .item .fa {
  color: #707070;
  width: 20px;
  margin-right: 5px;
  text-align: center;
}
.files-browser .files-tree-view .item .fa.fa-folder {
  font-size: 15px;
}
.files-browser .files-tree-view .item .name-container {
  flex: 1;
}
.files-browser .files-tree-view .item .name {
  max-width: 450px;
}
.files-browser .files-tree-view .item .name:hover {
  text-decoration: underline;
}
.files-browser .files-tree-view .item .updated,
.files-browser .files-tree-view .item .size {
  color: #999;
  padding: 0 5px;
  font-weight: 300;
  font-size: .8rem;
}
.files-browser .files-tree-view .item .updated {
  flex: 0 0 170px;
}
.files-browser .files-tree-view .item .size {
  flex: 0 0 100px;
  text-align: right;
}
.files-browser .files-tree-view .item .type {
  flex: 0 0 90px;
}
.diff {
  position: relative;
  width: 100%;
  font-size: 12.5px;
  white-space: normal;
  margin: 0;
  color: #111;
  overflow-y: hidden;
}
.diff .linenos {
  position: absolute;
  left: 7px;
  top: 1px;
  top: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.45);
}
.diff .linenos .lineno {
  line-height: 20px;
  padding: 0;
  margin: 0;
}
.diff .linenos2 {
  left: 32px;
}
.diff > div {
  position: relative;
  padding-left: 70px;
  margin: 0;
  line-height: 20px;
  white-space: pre;
}
.diff > div:after,
.diff > div:before {
  display: block;
  position: absolute;
  top: 0;
}
.diff > div:before {
  left: 0;
  width: 50px;
  height: 100%;
  content: ' ';
}
.diff > div:after {
  top: 0;
  left: 55px;
}
.diff .add {
  background: rgba(76, 217, 100, 0.12);
}
.diff .add:before {
  background: rgba(76, 217, 100, 0.15);
}
.diff .add:after {
  content: '+';
}
.diff .del {
  background: rgba(255, 59, 48, 0.09);
}
.diff .del:before {
  background: rgba(255, 59, 48, 0.12);
}
.diff .del:after {
  content: '-';
}
.binary-diff-placeholder {
  padding: 30px;
  text-align: center;
}
.binary-diff-placeholder code {
  display: block;
  white-space: pre-line;
  color: rgba(0, 0, 0, 0.1);
  font-size: 24px;
}
.favicon-picker .favicon-picker-header {
  border-bottom: 1px solid #ddd;
}
.favicon-picker .favicon-picker-header .filter {
  padding: 5px;
}
.favicon-picker .favicon-picker-header .filter input {
  padding: 0 10px;
  width: 350px;
}
.favicon-picker .favicon-picker-body {
  width: 400px;
  max-height: 185px;
  overflow-y: auto;
}
.favicon-picker .favicon-picker-body .text {
  padding: 10px;
}
.favicon-picker .favicon-picker-footer {
  align-items: center;
  padding: 10px 15px;
  border-top: 1px solid #ddd;
}
.favicon-picker .favicon-picker-footer .label {
  color: #707070;
}
.favicon-picker .favicon-picker-footer .ctrls {
  margin-left: auto;
}
.favicon-picker .favicon-picker-icons {
  display: grid;
  padding: 10px;
  grid-gap: 6px;
  grid-template-columns: repeat(12, 1fr);
}
.favicon-picker .favicon-picker-icons .icon {
  width: 24px;
  height: 24px;
  padding: 4px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}
.favicon-picker .favicon-picker-icons .icon img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.favicon-picker .favicon-picker-icons .icon:hover {
  background: #eaeaea;
}
.favicon-picker .favicon-picker-icons .icon.selected {
  background: #a4d2f7;
}
.window-content.builtin.library {
  position: relative;
}
.drag-hint {
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 30vh;
  background: rgba(240, 247, 253, 0.95);
  color: rgba(0, 0, 0, 0.5);
  color: #707070;
  text-align: center;
}
.drag-hint:before {
  display: block;
  content: '';
  position: absolute;
  left: 15px;
  top: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border: 5px dashed rgba(0, 0, 0, 0.15);
}
.drag-hint .icons {
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.drag-hint .icons .fa {
  font-size: 34px;
}
.drag-hint .icons .fa:nth-child(2),
.drag-hint .icons .fa:nth-child(4) {
  font-size: 40px;
}
.drag-hint .icons .fa:nth-of-type(3) {
  font-size: 48px;
}
.drag-hint .icons .fa:not(:last-child) {
  margin-right: 10px;
}
.drag-hint h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.drag-hint p {
  margin: 0;
  font-size: .9rem;
}
body.drag .drag-hint {
  display: block;
}
.builtin-wrapper.library-wrapper .ll-row.archive.menu-open .buttons,
.builtin-wrapper.library-wrapper .ll-row.archive:hover .buttons,
.builtin-wrapper.library-wrapper .ll-row.archive.menu-open .btn,
.builtin-wrapper.library-wrapper .ll-row.archive:hover .btn,
.builtin-wrapper.library-wrapper .ll-row.archive.menu-open .btn.trash,
.builtin-wrapper.library-wrapper .ll-row.archive:hover .btn.trash,
.builtin-wrapper.library-wrapper .ll-row.archive.menu-open .btn.restore,
.builtin-wrapper.library-wrapper .ll-row.archive:hover .btn.restore {
  opacity: 1;
}
.builtin-wrapper.library-wrapper .ll-row.archive .url {
  margin-right: 0;
}
.builtin-wrapper.library-wrapper .ll-row.archive .buttons .trash,
.builtin-wrapper.library-wrapper .ll-row.archive .buttons .restore {
  margin-right: 5px;
  opacity: 0;
}
.builtin-wrapper.library-wrapper .ll-row.archive .buttons .btn.plain:hover i,
.builtin-wrapper.library-wrapper .ll-row.archive .buttons .pressed i {
  color: #333;
}
.builtin-wrapper.library-wrapper .ll-row.archive .dropdown-items {
  width: 185px;
  right: -8px;
}
.builtin-wrapper.library-wrapper .recent-archives {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  width: 100%;
  margin-bottom: 25px;
}
@media (min-width: 670px) {
  .builtin-wrapper.library-wrapper .recent-archives {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.builtin-wrapper.library-wrapper .ll-row.recent {
  justify-content: space-between;
  position: relative;
  width: auto;
  height: auto;
  padding: 0;
  background: #fff;
  text-align: center;
  transition: box-shadow 0.05s ease;
  border: 1px solid #e6e6e6;
}
.builtin-wrapper.library-wrapper .ll-row.recent * {
  cursor: pointer;
}
.builtin-wrapper.library-wrapper .ll-row.recent .badge.read-only {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: default;
  background: #f0f0f0;
}
.builtin-wrapper.library-wrapper .ll-row.recent:hover {
  border-color: #dadada;
  background: #f0f0f0;
}
.builtin-wrapper.library-wrapper .ll-row.recent:hover .info {
  border-color: #dadada;
}
.builtin-wrapper.library-wrapper .ll-row.recent:hover .btn {
  opacity: 1;
}
.builtin-wrapper.library-wrapper .ll-row.recent .favicon {
  display: block;
  flex-basis: 32px;
  width: 32px;
  height: 32px;
  margin: 30px auto;
}
.builtin-wrapper.library-wrapper .ll-row.recent .info {
  position: relative;
  border-top: 1px solid #e6e6e6;
  text-align: left;
  background: #fff;
  padding: 5px 10px;
  width: 100%;
}
.builtin-wrapper.library-wrapper .ll-row.recent .btn {
  position: absolute;
  right: 5px;
  top: 6px;
  opacity: 0;
  font-size: 15px;
  padding: 0 5px;
  line-height: 1;
  height: 22px;
}
.builtin-wrapper.library-wrapper .ll-row.recent .title {
  display: block;
  max-width: 132px;
  margin: 0;
}
.builtin-wrapper.library-wrapper .ll-row.recent .url {
  font-size: .75rem;
}
.builtin-wrapper.library-wrapper .ll-row.recent .url,
.builtin-wrapper.library-wrapper .ll-row.recent .title {
  vertical-align: top;
}
.builtin-wrapper.library-view {
  background: #fff;
}
.builtin-wrapper.library-view .view-wrapper {
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 50px;
  padding: 30px 0 45px 0;
  overflow-y: auto;
}
.builtin-wrapper.library-view .builtin-main {
  max-width: 100%;
  padding: 0;
}
.builtin-wrapper.library-view .container {
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
}
@media (min-width: 800px) {
  .builtin-wrapper.library-view .container {
    padding: 0;
  }
}
.builtin-wrapper.library-view .builtin-header {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
  font-size: .875rem;
  height: 50px;
}
.builtin-wrapper.library-view .builtin-header .container {
  height: 100%;
  align-items: center;
  position: relative;
}
.builtin-wrapper.library-view .builtin-header .back-link {
  position: absolute;
  left: -30px;
  top: 10px;
  width: 27px;
  text-align: center;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 4px;
}
.builtin-wrapper.library-view .builtin-header .back-link * {
  cursor: pointer;
}
.builtin-wrapper.library-view .builtin-header .back-link:hover {
  color: #333;
  background: #eee;
}
.builtin-wrapper.library-view .builtin-header .favicon-container {
  width: 26px;
  height: 26px;
  padding: 5px;
  border-radius: 4px;
  margin-left: auto;
}
.builtin-wrapper.library-view .builtin-header .favicon-container.unset {
  border: 1px dashed #707070;
  padding: 0;
  text-align: center;
}
.builtin-wrapper.library-view .builtin-header .favicon-container.editable {
  cursor: pointer;
}
.builtin-wrapper.library-view .builtin-header .favicon-container.editable * {
  cursor: pointer;
}
.builtin-wrapper.library-view .builtin-header .favicon-container.editable:hover {
  background: #eee;
}
.builtin-wrapper.library-view .builtin-header .favicon-container i {
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.4);
  position: relative;
  font-size: 11px;
}
.builtin-wrapper.library-view .builtin-header .favicon-container img {
  width: 16px;
  height: 16px;
}
.builtin-wrapper.library-view .builtin-header .title {
  font-weight: 500;
  margin: 0 5px;
}
.builtin-wrapper.library-view .builtin-header .title.editable {
  cursor: text;
  border: 1px solid transparent;
  padding: 0 3px;
  margin: 0 2px;
}
.builtin-wrapper.library-view .builtin-header .title.editable:hover {
  border-color: #ddd;
  text-decoration: none;
}
.builtin-wrapper.library-view .builtin-header .url {
  margin-right: 5px;
}
.builtin-wrapper.library-view .builtin-header .url:hover {
  text-decoration: underline;
}
.builtin-wrapper.library-view .builtin-header .url,
.builtin-wrapper.library-view .builtin-header .btn {
  color: rgba(0, 0, 0, 0.5);
}
.builtin-wrapper.library-view .builtin-header .btn {
  margin-left: 0;
}
.builtin-wrapper.library-view .builtin-header .btn:hover {
  color: #333;
}
.builtin-wrapper.library-view .setup-info {
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
  height: 200px;
  opacity: 1;
  transition: height 0.5s, opacity 0.5s, margin 0.5s, padding 0.5s;
}
.builtin-wrapper.library-view .setup-info.hide-animation {
  height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
}
.builtin-wrapper.library-view .setup-info .setup-checklist {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
.builtin-wrapper.library-view .setup-info .checklist-item i.fa-check {
  font-size: 15px;
  margin-left: 2px;
  color: #3fb453;
  -webkit-text-stroke: .35px #fff;
}
.builtin-wrapper.library-view .setup-info .checklist-item .label {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: inherit;
}
.builtin-wrapper.library-view .setup-info .checklist-item .label i {
  margin-right: 2px;
}
.builtin-wrapper.library-view .setup-info .checklist-item .description {
  color: rgba(0, 0, 0, 0.65);
}
.builtin-wrapper.library-view .setup-info .checklist-item .actions {
  margin-top: auto;
}
.builtin-wrapper.library-view .view {
  max-width: 100%;
  padding: 0;
  font-size: .85rem;
}
.builtin-wrapper.library-view .view .section {
  margin-bottom: 40px;
}
.builtin-wrapper.library-view .view .revision-type {
  width: 8px;
  height: 8px;
  margin-top: -0.25px;
}
.builtin-wrapper.library-view .view .revision-type.add {
  background: #41b855;
}
.builtin-wrapper.library-view .view .revision-type.mod {
  background: #f7c600;
}
.builtin-wrapper.library-view .view .revision-type.del {
  background: #cc2f26;
}
.builtin-wrapper.library-view .revision-header,
.builtin-wrapper.library-view .file-preview-header {
  align-items: center;
  height: 40px;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ddd;
  padding: 0 10px;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}
.builtin-wrapper.library-view .revision-header .revision-type,
.builtin-wrapper.library-view .file-preview-header .revision-type {
  margin-right: 7px;
}
.builtin-wrapper.library-view .revision-header .path,
.builtin-wrapper.library-view .file-preview-header .path {
  max-width: 250px;
}
.builtin-wrapper.library-view .revision-header a,
.builtin-wrapper.library-view .file-preview-header a {
  color: initial;
}
.builtin-wrapper.library-view .revision-header a:hover,
.builtin-wrapper.library-view .file-preview-header a:hover {
  text-decoration: none;
}
.builtin-wrapper.library-view .file-preview-container {
  font-size: 12.5px;
}
.builtin-wrapper.library-view .file-preview-container .file-preview-header {
  align-items: center;
  height: 40px;
  border-radius: 4px 4px 0 0;
  padding: 0 10px;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}
.builtin-wrapper.library-view .file-preview-container .file-preview-header .separator {
  color: rgba(0, 0, 0, 0.25);
  padding: 0 10px;
}
.builtin-wrapper.library-view .file-preview-container .file-preview-header .file-info {
  margin-right: 10px;
}
.builtin-wrapper.library-view .file-preview-container .file-preview-header .actions {
  margin-left: auto;
}
.builtin-wrapper.library-view .file-preview-container .file-preview-header .actions a {
  display: inline-block;
  font-size: 14px;
  color: #707070;
  color: #333;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
}
.builtin-wrapper.library-view .file-preview-container .file-preview-header .actions a * {
  cursor: pointer;
}
.builtin-wrapper.library-view .file-preview-container .file-preview-header .actions a:hover {
  color: #2864dc;
}
.builtin-wrapper.library-view .file-preview-container .file-preview {
  position: relative;
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 2px 2px;
  background: #fff;
}
.builtin-wrapper.library-view .file-preview-container .file-preview .linenos {
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 100%;
  padding: 0;
  padding-top: 6px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
}
.builtin-wrapper.library-view .file-preview-container .file-preview .linenos .lineno {
  line-height: 20px;
  padding: 0;
  margin: 0;
}
.builtin-wrapper.library-view .file-preview-container .file-preview.text {
  padding: 5px 15px;
  padding-left: 45px;
  overflow-x: auto;
}
.builtin-wrapper.library-view .file-preview-container .file-preview.text .text {
  white-space: pre;
  user-select: initial;
}
.builtin-wrapper.library-view .file-preview-container .file-preview.media {
  text-align: center;
  background: #ddd;
  padding: 30px 0;
}
.builtin-wrapper.library-view .file-preview-container .file-preview.media img {
  border: 1px solid #fff;
  background-color: #fff;
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd), linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
}
.builtin-wrapper.library-view .file-preview-container .file-preview.media video,
.builtin-wrapper.library-view .file-preview-container .file-preview.media img,
.builtin-wrapper.library-view .file-preview-container .file-preview.media audio {
  width: auto;
  height: auto;
  max-width: 550px;
  max-height: 500px;
  margin: auto;
}
.builtin-wrapper.library-view .view.revisions .revisions-header {
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 15px;
}
.builtin-wrapper.library-view .view.revisions .revisions-header .change-count {
  font-weight: 600;
  padding-left: 4px;
}
.builtin-wrapper.library-view .view.revisions .revisions-header .actions {
  margin-left: auto;
}
.builtin-wrapper.library-view .view.revisions .revisions-header .preview-btn {
  margin-left: 7px;
  color: inherit;
}
.builtin-wrapper.library-view .view.revisions .revisions-header .preview-btn:hover {
  text-decoration: none;
}
.builtin-wrapper.library-view .view.revisions.empty i.fa-check {
  color: rgba(67, 191, 88, 0.85);
  -webkit-text-stroke: 6px #fff;
}
.builtin-wrapper.library-view .view.revisions .revisions-list {
  margin-left: 0;
  padding-left: 0;
}
.builtin-wrapper.library-view .view.revisions .revision {
  border-bottom: 0;
  list-style: none;
  margin-bottom: 15px;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-header {
  cursor: pointer;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-header.collapsed {
  border-radius: 4px;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-header:hover {
  background: #f6f6f6;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-header:hover .ignore-btn {
  visibility: visible;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-header .path {
  font-size: 12.5px;
  margin-right: 10px;
  line-height: 1;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-header .actions {
  margin-left: auto;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-header .actions .btn-group {
  display: inline-flex;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-header .actions .btn-group,
.builtin-wrapper.library-view .view.revisions .revision .revision-header .actions .btn {
  margin-left: 5px;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-header .ignore-btn {
  visibility: hidden;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-header .changes-count {
  font-size: .725rem;
  font-weight: 700;
  letter-spacing: .1px;
  margin-right: 6px;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-header .changes-count.additions {
  color: #3dae50;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-header .changes-count.deletions {
  color: #cc2f26;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-content {
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 2px 2px;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-content .empty,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .source-too-large,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .folder,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .loading {
  text-align: center;
  padding: 20px 0;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-content .empty p,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .source-too-large p,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .folder p,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .loading p {
  color: rgba(0, 0, 0, 0.65);
  margin-top: 0;
  font-size: 12.5px;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-content .empty p:last-child,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .source-too-large p:last-child,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .folder p:last-child,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .loading p:last-child {
  margin-bottom: 0;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-content .empty .fa,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .source-too-large .fa,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .folder .fa,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .loading .fa {
  font-size: 48px;
  color: rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-content .empty .action,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .source-too-large .action,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .folder .action,
.builtin-wrapper.library-view .view.revisions .revision .revision-content .loading .action {
  display: block;
  color: #2864dc;
  font-size: 1rem;
  cursor: pointer;
}
.builtin-wrapper.library-view .view.revisions .revision .revision-content .spinner {
  width: 30px;
  height: 30px;
  margin: auto;
}
.builtin-wrapper.library-view .view.network .download-status {
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}
.builtin-wrapper.library-view .view.network .download-status .btn {
  margin-left: 2px;
}
.builtin-wrapper.library-view .view.network .download-status .btn:focus {
  border: 0;
  box-shadow: none;
}
.builtin-wrapper.library-view .view.network .download-status .blocks {
  margin-left: 10px;
  color: #707070;
  font-size: .8rem;
}
.builtin-wrapper.library-view .view.network .download-status .blocks .downloaded {
  position: relative;
}
.builtin-wrapper.library-view .view.network .download-status .blocks .downloaded:after {
  content: '/';
  display: inline-block;
  margin: 0 5px;
}
.builtin-wrapper.library-view .view.network svg.peer-history-graph {
  position: relative;
  margin-top: 5px;
}
.builtin-wrapper.library-view .view.network svg.peer-history-graph text {
  fill: #707070;
  font-size: .8rem;
  font-weight: 500;
}
.builtin-wrapper.library-view .view.settings .favicon {
  width: 32px;
  height: 32px;
}
.builtin-wrapper.library-view .view.settings .git-setup-commands pre {
  padding: 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.builtin-wrapper.library-view .view.settings .success-message {
  margin-left: 5px;
}
.builtin-wrapper.library-view .view.settings .success-message i.fa-check {
  color: #41b855;
  -webkit-text-stroke: .3px #fff;
}
.builtin-wrapper.library-view footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  height: 50px;
  font-size: .875rem;
  background: #fff;
}
.builtin-wrapper.library-view footer .container {
  align-items: center;
  justify-content: flex-end;
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: auto;
}
.builtin-wrapper.library-view footer .secondary-action {
  margin-right: 10px;
}
.builtin-wrapper.library-view footer .dropdown-items.workspace-info {
  width: 275px;
  right: -10px;
}
.builtin-wrapper.library-view footer .path {
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}
.builtin-wrapper.library-view footer .path:hover {
  text-decoration: underline;
}
.builtin-wrapper.library-view footer .path.error .btn {
  margin-left: 5px;
}
.builtin-wrapper.library-view footer .path.error:hover {
  color: initial;
  text-decoration: none;
}
.builtin-wrapper.library-view footer .dropdown.open .btn.primary {
  background: #2255bb;
}
.builtin-wrapper.library-view footer .dropdown-items {
  width: 235px;
  font-size: .8rem;
}
.builtin-wrapper.library-view footer .metadata {
  color: rgba(0, 0, 0, 0.85);
  margin-right: auto;
}
.builtin-wrapper.library-view footer .btn .fa-caret-up {
  margin-top: -2px;
}
.builtin-wrapper.library-view .tabs {
  height: 100%;
  margin-bottom: -1px;
}
.builtin-wrapper.library-view .tabs .tab {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  cursor: pointer;
  color: #333;
  margin-right: 5px;
  letter-spacing: .15px;
  border-bottom: 2px solid transparent;
}
.builtin-wrapper.library-view .tabs .tab.active {
  border-color: #333;
}
.builtin-wrapper.library-view .tabs .tab:hover:not(.active) {
  border-color: #ccc;
}
.builtin-wrapper.library-view .tabs .tab .revisions-indicator {
  display: inline-block;
  background: #2864dc;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 2px;
}
.builtin-wrapper.library-view .file-preview-container.readme {
  flex-wrap: wrap;
  margin-top: 20px;
}
.builtin-wrapper.library-view .file-preview-container.readme .file-preview-header,
.builtin-wrapper.library-view .file-preview-container.readme .readme {
  width: 100%;
}
.builtin-wrapper.library-view .file-preview-container.readme .readme {
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 2px 2px;
  padding: 15px 25px;
  font-size: 15px;
  line-height: 1.5;
}
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown h1,
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown h2,
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown h3 {
  margin: 15px 0;
  font-weight: 600;
}
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown h1,
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown h2 {
  border-bottom: 1px solid #eee;
}
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown h1 {
  font-size: 30px;
}
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown h2 {
  font-size: 24px;
}
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown h3 {
  font-size: 20px;
}
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown ul,
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown ol {
  margin-bottom: 15px;
}
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown pre,
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown code {
  font-size: 13.5px;
  background: #f0f0f0;
  border-radius: 2px;
}
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown pre {
  padding: 15px;
  border: 0;
}
.builtin-wrapper.library-view .file-preview-container.readme .readme.markdown code {
  padding: 3px 5px;
}
.builtin-wrapper.library-view .file-preview-container.readme.plaintext {
  white-space: pre-wrap;
}
.builtin-wrapper.library-view .hint {
  max-width: 750px;
  margin: 20px auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.builtin-wrapper.library-view .hint + .hint {
  border-top: 1px dashed #ddd;
  padding-top: 20px;
}
.builtin-wrapper.library-view .hint strong {
  font-weight: 600;
}
.builtin-wrapper.library-view .hint p {
  margin-bottom: 10px;
}
.builtin-wrapper.library-view .hint h2,
.builtin-wrapper.library-view .hint h3 {
  font-size: inherit;
}
.builtin-wrapper.library-view .hint .learn-more-link {
  font-size: .75rem;
  margin-left: 5px;
}
#library-workspace-popup .popup-inner {
  overflow: initial;
}
#library-workspace-popup .download-status {
  align-items: center;
  flex-wrap: nowrap;
  margin: 20px 0 35px 0;
}
#library-workspace-popup .download-status i.fa-check {
  margin-left: 5px;
  color: #42bd57;
}
.create-new .dropdown-item .description {
  color: rgba(0, 0, 0, 0.55);
  margin-left: 24px;
}
.create-new .dropdown-item:hover .description {
  color: #333;
}
